

{% block content %}

<h2 class="mb-4 ruthie-font" style="color: #eb2328; margin-top: 10%;">About Us</h2>
<div class="row justify-content-center" >
  
    <div class="col-lg-4">
    <h2>Our Chef and Staff</h2>
    <p>With 20 years of experience, our chef is excited to present their vision to our guests.
      Our caring and committed staff work hard to ensure you have a fantastic experience with us.</p>  
    </div>
    <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2 class="font-weight-bold">Dine In or Take Out</h2>
    <p>Our meals are packaged in a way that lets you bring the quality of our meals into your home.
      We always love to see you in person, but when we can't, we want ensure that your dining experience is a top notch!</p>  
    </div><!-- /.col-lg-4 -->
    
  <div class="col-lg-5" style="margin-bottom: 10%;">
    <h2 class="font-weight-bold">Seasonal and Local</h2>
    <p>We refuse to compromise on quality in our restaurant.
      That's why we source our fresh ingredients from local vendors.
      No matter what time of year, you can be sure you are eating the best the seasonhas to offer.</p>  
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


{% endblock content %}