{% block content %}

<div style="padding-top: 10%;">
  <div>
    <h3>
      <p>
        <span class="Primary ruthie-font">Follow Us</span><br>
        <span class="Accent3" style="padding-top: 10%;">Follow us for new parties events & offers</span>
      </p>
    </h3>
  </div>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500&display=swap");
    body {
      background-color: rgb(0, 0, 0);
      color: white;
      font-family: "Urbanist", sans-serif;
      font-weight: 500;
    }
    .ruthie-font {
      font-family: "Ruthie", cursive;
      font-size: 4em;
    }
    .Primary {
      color: #eb2328;
    }
    .Accent1 {
      color: #f06a23;
    }
    .Accent1-bg {
      color: #fffdd7;
      background-color: #f06a23;
    }
    .fa {
      font-size: 25px;
      
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }

    .fa-facebook {
      background: #3b5998;
      color: white;
    }
    .fa-instagram {
      background: #e1306c;
      color: white;
    }
  </style>
  <div class="row d-flex justify-content-center">
    <div style="position: relative; margin-right: 2%;">
      <a
        href="https://www.facebook.com/HarmonyRestaurant.ca/"
        class="fa fa-facebook" style="padding: 15px; height: 50px; width: 50px;" target="_blank"
      >
      </a>
    </div>
    <div style=" position: relative;">
      <a
        href="https://www.instagram.com/harmony_restaurant_bar/?igshid=YmMyMTA2M2Y%3D"
        class="fa fa-instagram" style="padding: 15px; height: 50px; width: 50px;" target="_blank"
      >
      </a>
    </div>
  </div>
</div>
{% endblock content %}
