{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 style="margin-bottom:5%;">
      <p style="line-height:90%;text-align:center;font-style:normal;font-weight:bold;">
        <span style="font-size:50%;color:#FAAF18;font-style:normal;font-weight:normal;">
        <span class="ruthie-font">The Original Taste is Here</span><br>
        <span style="font-size:60px;color:#eb2328;">
        <b>Harmony</b></span><br>
        <span style="font-size:25px;" class="Accent1"><b>Restaurant And Bar</b></span>
        </span>
        </p>
      
    </h1>
  </div>
</div>
<!-- Codes by HTMLcodes.ws -->

  
{% endblock content %}


  